<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>LastAccessedDate</key>
	<date>2023-05-17T14:01:50Z</date>
	<key>WorkspacePath</key>
	<string>/Users/mak/Desktop/TP4/TP4.xcodeproj</string>
</dict>
</plist>
